body{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.container{
    margin:50px 140px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.text1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.text2{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container2 {
    width: 802.9px;
    height: 500px;
    margin: 140px auto 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.container3{
    width: 31.398px;
    height: 172.819px;
    flex-shrink: 0;
    margin: 320px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.gradient{
    margin: 400px auto 0;
}
.text4{
    text-align: left;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text5{
    text-align: left;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.text6{
    text-align: left;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 393px;
}
